@media (min-width: 768px) {
    #menu-toggle {
        display: none;
    }

    #main-nav {
        display: block;
        position: static;
        padding: 0;
    }

    #main-nav ul {
        flex-direction: row;
        justify-content: center;
        gap: 1.5rem;
    }

    .temple-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .temple-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}